app-root {
  display: block;
  width: 100%;
  max-width: 720px;
  padding: 12px;
  margin: auto;
  margin-top: 24px;
}

header {
  border-bottom: 2px solid #333;
  margin-bottom: 24px;
}

header h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 12px;
}
