.filters {
  margin-bottom: 24px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #F0F0F0;
}
table td {
  height: 30px;
  border-bottom: 1px solid #F0F0F0;
}
table td.animated {
}

